@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat:900|Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1483721310020-03333e577078?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.quotes {
  overflow: hidden;
  padding-left: 4em;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  line-height: 0.9;
}

.quotes h6 {
  padding-left: 10px;
  font-family: "Josefin Sans";
  font-size: 3vw;
}

.quotes h1 {
  font-family: Montserrat;
  font-size: 10vw;
}

@media (max-width: 768px) {

  .main {
    width: 100%;
    height: 100vh;
    background: url("src/mobile-bg.jpg");
    background-size: cover;
  }

  .container {
    height: 50vh;
  }

  .quotes {
    padding-left: 2em;
  }

  .quotes h6 {
    font-size: 8vw;
    padding-left: 5px;
  }

  .quotes h1 {
    font-size: 15vw;
  }
}
